/*-------------------------------------------*
/* Fonts
/*-------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

/*-------------------------------------------*
/* Base
/*-------------------------------------------*/

*,
*::before,
*::after {   
    box-sizing: border-box;    
    outline: none !important;
}

html {    
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #757575;
}

article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
main, 
nav, 
section, 
summary {
    display: block;
}

p {
    margin: 0 0 2rem 0;
}

b, 
strong {
    font-weight: 700;
    color: #3d3d3d;
}

em {
    font-style: italic;
}

video,
video source {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;    
    color: #757575;
    transition: 0.2s linear;
}

a:hover {
    text-decoration: none;
    color: #3d3d3d;
}

img {
    display: block;
	width: 100%;
	height: auto;
}

/*-------------------------------------------*
/* Layout
/*-------------------------------------------*/

.container {
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 1rem;
}

.page-catalog.sidebar-first #main-wrapper .container,
.page-taxonomy-term.sidebar-first #main-wrapper .container,
.region-header-first,
.region-header-second,
.region-footer,
#content-wrapper {
    display: -ms-flexbox;
    display: flex;
}

.region-header-first,
.region-header-second,
.region-footer,
#content-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.region-header-first,
.region-footer {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.region-header-first {
    -ms-flex-align: center;
    align-items: center;
}

.region-header-second {
    -ms-flex-pack: center;
    justify-content: center;
}

.page-catalog.sidebar-first #main,
.page-taxonomy-term.sidebar-first #main {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 	
}

#sidebar-first {
    -ms-flex: 0 0 282px;
    flex: 0 0 282px;
    max-width: 282px;	
    padding: 0 3rem 0 0;
}

/*-------------------------------------------*
/* Header
/*-------------------------------------------*/

.region-header-first {
   margin: 1rem 0;
}

.region-header-second {
	margin: 3rem 0 0 0;
}

/*-------------------------------------------*
/* Site Branding
/*-------------------------------------------*/

.site-logo {
	display: block;
	width: 12.5rem;
}

/*-------------------------------------------*
/* Main menu
/*-------------------------------------------*/

.menu-name-main-menu ul {
    display: -ms-flexbox;
    display: flex;
}

.menu-name-main-menu ul li.leaf {
    display: block;
    margin: 0 0.5rem;
    padding: 0;
    list-style-image: none;
    list-style-type: none;
}

.menu-name-main-menu a {
    position: relative;
    display: block;    
    padding: 0.4375rem 0;
}

.menu-name-main-menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 0.125rem;
    background-color: #3d3d3d;
    opacity: 0;
    transition: 0.2s linear;
}

.menu-name-main-menu a:hover::after {
    opacity: 1;
}

.menu-name-main-menu a.active {
    font-weight: 500;
    color: #3d3d3d;    
}

/*-------------------------------------------*
/* Video
/*-------------------------------------------*/

#video {
    position: relative;
    margin: 0 0 4rem 0;
}

#video #main {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
}

/*-------------------------------------------*
/* Catalog menu 
/*-------------------------------------------*/

.menu-name-menu-catalog ul {
    margin: 0;
    padding: 0;
}

.menu-name-menu-catalog ul li,
.menu-name-menu-catalog ul li.leaf,
.menu-name-menu-catalog ul li.expanded,
.menu-name-menu-catalog ul li.collapsed {
    display: block;
    margin: 0;
    padding: 0;
    list-style-image: none;
    list-style-type: none;
}

.menu-name-menu-catalog a {
    display: block;
}

.menu-name-menu-catalog > ul > li {
    position: relative;
}

.menu-name-menu-catalog > ul > li > a {
    padding: 0.5rem 2.25rem 0.5rem 0.5rem;
}

.menu-name-menu-catalog ul ul {
    display: none;    
}

.menu-name-menu-catalog ul ul a {
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    font-size: 0.875rem;
}

.menu-name-menu-catalog a:hover {
    background-color: #ededed;
}

.menu-name-menu-catalog a.active {
    font-weight: 500;
    color: #3d3d3d;
}

.catalog-submenu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    transition: 0.2s linear;
}

.catalog-submenu-toggle span {
    position: absolute;
    display: block;
    background-color: #757575;
    transition: 0.2s linear;
}

.catalog-submenu-toggle span:first-child {
    width: 0.75rem;
    height: 0.125rem;
    top: 50%;
    transform: translateY(-1px);
    left: 0.625rem;
}

.catalog-submenu-toggle span:last-child {
    width: 0.125rem;
    height: 0.75rem;
    top: 50%;
    transform: translateY(-0.375rem);
    left: 0.9375rem;
}

.catalog-submenu-toggle:hover {
    background-color: #878787;
}

.catalog-submenu-toggle:hover span {
    background-color: #fff;
}

.menu-name-menu-catalog li.expanded span:last-child {
    display: none;
}

/*-------------------------------------------*
/* Page content 
/*-------------------------------------------*/

#main-wrapper {
    margin: 4rem 0;
}

#main .block {
    margin: 0 0 4rem 0;
}

#main #block-system-main {
    margin: 0;
}

/*-------------------------------------------*
/* Highlighted
/*-------------------------------------------*/

#highlighted {
    margin: 4rem 0;
}

#highlighted .block {
    padding: 2rem;
    border: 1px solid #a8a8a8;
    margin: 0 0 2rem 0;
}

#highlighted .block:last-child {
    margin: 0;
}


/*-------------------------------------------*
/* Featured
/*-------------------------------------------*/

#featured .block {
    margin: 0 0 2rem 0;
}

/*-------------------------------------------*
/* Headings
/*-------------------------------------------*/

.page-title {
    font-size: 3rem;
    margin: 0 0 3rem 0;
    font-weight: 700;
    text-align: center;
    color: #3d3d3d;
}

.page-title:first-letter {    
	text-transform: uppercase;	
}

h2 {
    font-size: 2.25rem;
    margin: 0 0 2rem 0;
    font-weight: 700;
    text-align: center;
    color: #3d3d3d;
}

h3 {
    font-size: 2rem;
    margin: 0 0 2rem 0;
    font-weight: 700;
    text-align: center;
    color: #3d3d3d;
}

h4 {
    font-size: 1.75rem;
    margin: 0 0 1rem 0;
    font-weight: 500;
    color: #3d3d3d;
}

h5 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    font-weight: 500;
    color: #3d3d3d;
}

h6 {
    font-size: 1.25rem;
    margin: 0 0 1rem 0;
    font-weight: 500;
    color: #3d3d3d;
}

.block-title { 
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0 0 2rem 0;
    text-align: center;
    color: #3d3d3d;
}

#sidebar-first .block-title {
    font-size: 1.5rem;
    text-align: left;
    margin: 0 0 0.75rem 0;
}

.homepage-title {    
    font-size: 1.25rem;  
    font-weight: normal; 
    text-align: center;
    text-transform: lowercase;
    margin: 0;
    color: #fff;    
}

.homepage-title span {     
    position: relative;
}

.homepage-title span::before, 
.homepage-title span::after {
    content: "";
    display: block;
    width: 3rem;
    height: 0.125rem;
    position: absolute;
    top: 50%;
    background-color: #fff;
}

.homepage-title span::before {
    left: -4rem;
}

.homepage-title span::after {
    right: -4rem;
}

.site-name {
    display: block;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    color: #fff;
}

/*-------------------------------------------*
/* Icons
/*-------------------------------------------*/

.icons .block-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.search-icon {
    border: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
	background-image: url("../images/search.svg");
	cursor: pointer;
}

.search-icon,
.social-icon {
    display: block;
	width: 1.5rem;
	height: 1.5rem;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 1.25rem auto; 
}

#header .social-icon {
	margin: 0 0 0 0.5rem;
}

#mobile-panel .social-icon {
    margin: 0 0.5rem 0 0;
    background-color: #fff;
}

.instagram {
	background-image: url(../images/instagram.svg);
}

.facebook {
	background-image: url(../images/facebook.svg);
}

.vk {
	background-image: url(../images/vk.svg);
}

/*-------------------------------------------*
/* Basket 
/*-------------------------------------------*/

.basket-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 0 2rem;
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-size: contain; 
	background-image: url("../images/basket.svg");
}

.basket-counter {
    display: block;
    width: 1.25rem;
    line-height: 1.25rem;
    margin: 0 0 0 0.5rem;
    font-size: 0.75rem;
    background-color: #efefef;
    border-radius: 50%;   
    text-align: center;
}

/*-------------------------------------------*
/* Forms, Buttons
/*-------------------------------------------*/

form {
	padding: 2rem;
	background-color:#ededed;
}

fieldset {
    padding: 0;
    border: none;
}

fieldset,
.form-item {
    margin: 0 0 1.5rem 0;
}

.form-actions {
    margin: 2rem 0 0 0;
}

label {
    display: block;
    margin: 0 0 0.3125rem 0;
    font-size: 1.125rem;
    font-weight: 500;
    color: #3d3d3d;
}

.form-text,
.form-textarea,
.form-select {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
	padding: 0.5rem;
    border: 1px solid #ededed;
    background-color: #fff;
    color: #3d3d3d;
    transition: 0.2s linear;
}

.form-text:focus,
.form-textarea:focus {
    border: 1px solid #a8a8a8;
}

.form-checkboxes .form-item, 
.form-radios .form-item {   
    margin: 0 0 0.3125rem 0;
}

.form-checkbox,
.form-radio {
    -webkit-appearance:none;
    -moz-appearance: none;
    display: inline-block;
    margin: 0 0.3125rem 0 0;
    vertical-align: -0.125rem !important;
    position: relative;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #a8a8a8;    
    transition: 0.2s linear;
}

.form-radio {
    border-radius: 50%;
}

.form-checkbox:checked,
.form-radio:checked {   
    background-color: #3d3d3d; 
    border: 1px solid #3d3d3d;
    box-shadow: inset 0px 0px 0px 0.1875rem #fff;
}

.form-submit {
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    margin: 0 2rem 0 0;
    padding: 1rem 2rem;    
    cursor: pointer;
    color: #fff;
    background-color: #757575;
    transition: 0.2s linear;
}

.form-submit:hover,
.form-submit:focus,
.button:hover {   
    background-color: #878787;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.button {
    display: inline-block;
    color: #fff;
    background-color: #757575;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    transition: 0.2s linear;
    cursor: pointer;
}

.button:hover {
    color: #fff;
    background-color: #878787;
}

.grippie {
    display: none;
}

.webform-component--contact-form-name {
    float: left;
    width: 50%;
    padding: 0 1rem 0 0;
}

.webform-component--contact-form-email {
    float: right;
    width: 50%;
    padding: 0 0 0 1rem;
}

.lightshop_basket .form-submit.clear-button {
    margin: 0 0 2rem 0;
    padding: 0.5rem 1rem;
}

.lightshop_basket .form-submit:not(.clear-button) {
    margin: 0 0 0 2rem;
}

html.js fieldset.collapsible .fieldset-legend {
    margin: 0 0 0.3125rem 0;
    padding: 0 0 0 1.25rem;
    font-size: 1.125rem;
    font-weight: 500;
    color: #3d3d3d;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 50%;
    background-size: 0.625rem auto;
    background-image: url(../images/down.svg);    
}

a.fieldset-title {
    color: #3d3d3d; 
}

/*-------------------------------------------*
/* Node
/*-------------------------------------------*/

.node p {
    line-height: 1.5;
}

.field-name-field-page-img {
    width: 30%;
    float: left;
	margin: 0 2rem 0 0;
}

.field-name-field-page-img img {
    display: block;
    width: 100%;
    height: auto;
}

.field .field-label {
    margin: 0 0 0.4375rem 0;
    font-size: 1.125rem;
    font-weight: 500;    
    color: #3d3d3d;
}

.node-type-store .field {
    margin: 0 0 2rem 0;
}

.node ul {
    list-style: disc;
    margin: 0 0 2rem 3rem;
	padding: 0;
}

.node ol {
    margin: 0 0 2rem 3rem;
	padding: 0;
}

.node-homepage {
    font-size: 1.125rem;
    text-align: center;
}

.node-return {
    font-weight: 500;
    color: #3d3d3d;
}

.node-lightshop-order .field {
    margin: 0 0 1.5rem 0;
}

.node-lightshop-order strong {
    display: block;
    margin: 0 0 0.4375rem 0;
    font-size: 1.125rem;
    font-weight: 500;
}

/*-------------------------------------------*
/* Blocks
/*-------------------------------------------*/

.sale-text {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: #3d3d3d;
}

.block p,
.block ul,
.block ol {
    line-height: 1.5;
}

.block ul,
.block ol {    
	margin: 0 0 2rem 3rem;
    padding: 0;
    list-style: disc;
}

.block ul.menu,
.block ol.breadcrumb,
.block ul.pager {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
}

/*-------------------------------------------*
/* Footer
/*-------------------------------------------*/

#footer {  
    padding: 2rem 0; 
    background-color: #3d3d3d;   
    color: #a8a8a8;
    line-height: 1.5;
}

.region-footer {
    margin: 0 -1rem;
}

#footer .block {
    padding: 1rem;
} 

#footer a {
    color: #a8a8a8;
}

#footer a:hover {
    color: #fff;
}

#footer p {
    margin: 0;
}

.menu-name-menu-footer ul li.leaf {
    margin: 0;
    padding: 0;
    list-style-image: none;
    list-style-type: none;
    line-height: 1.5;
}

/*-------------------------------------------*
/* Admin Tabs
/*-------------------------------------------*/

.tabs-wrapper {
    margin: 0 0 1rem 0;
}

ul.primary {
    display: -ms-flexbox;
    display: flex;
    border: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px #757575 solid;
}

ul.primary li {
    display: block;
}

ul.primary li a {
    background-color: #fff;
    border: none;
    display: block;
    margin: 0;
    padding: 0.5rem 1rem;
}

ul.primary li a.active {
    background-color: #757575;
    border: none;
    color: #fff;
}

ul.primary li a:hover {
    text-decoration: none;
    border: none;
    color: #fff;
    background-color: #3d3d3d;
}

/*-------------------------------------------*
/* Pager
/*-------------------------------------------*/

.pagination {
    margin: 0 0 3rem 0;
}

.item-list .pager {   
    position: relative; 
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.item-list .pager li {
    margin: 0 0.5rem 1rem 0.5rem;  
    padding: 0;  
}

.pager a {
    display: block;
    width: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: #fff;
    background-color: #757575;
}

.pager a:hover{
    background-color: #878787;
}

.pager-current,
.pager-ellipsis {     
    width: 2.5rem;
    line-height: 2.5rem;
    text-align: center;  
}

.pager-current { 
    font-weight: normal;
    color: #fff;
    background-color: #a8a8a8;
}

.pager-first a,
.pager-previous a,
.pager-next a,
.pager-last a {
    text-indent: -600rem;
    background-repeat: no-repeat;
    background-size: 0.75rem auto;
    background-position: 50% 50%;
}

.pager-first a {
    background-image: url("../images/first.svg");
}

.pager-previous a {
    background-image: url("../images/prev.svg");
}

.pager-next a {
    background-image: url("../images/next.svg");
}

.pager-last a {
    background-image: url("../images/last.svg");
}

.pager .ajax-progress,
.pager .ajax-progress-throbber {
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 0 0 0 -1rem;
}

.pager .ajax-progress .throbber,
.pager .ajax-progress-throbber .throbber {
    position: relative;
	top: auto;
	right: auto;
	bottom: auto;
    left: auto;
	margin: 0;  
    width: 2rem;
	height: 2rem;
    background: transparent url("../images/preloader.gif") no-repeat center center;
}

/*-------------------------------------------*
/* Tables
/*-------------------------------------------*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

thead {
    background-color: transparent;
    border: none;
}

th {
    background-color: #fff;
    border-bottom: 2px solid #ededed;
    padding-right: 1em;
    text-align: left;
    font-weight: 500;
    color: #3d3d3d;
}

th, td {
    text-align: left;
    padding: 0.5rem;
	vertical-align: middle;
}

tr.even, 
tr.odd {
    background-color: #fff;
    border-bottom: 1px solid#ededed;
    padding: 0;
}

/*-------------------------------------------*
/* Messages
/*-------------------------------------------*/

.messages-ajax .messages {
    background-color: #fff;
    border-top: 0.3125rem solid;
    border-right: 0.3125rem solid;
    border-bottom: 0.3125rem solid;
    border-left: 0.3125rem solid;
    border-radius: 0;
    box-shadow: none;
    font-size: 1.125rem;
    white-space: nowrap;
}

.ajax-progress,
.ajax-progress-throbber {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.85);
}

.ajax-progress .throbber {
    position: absolute;    
    height: 2rem;
    width: 2rem;
    top: 50%;
    left: 50%;
    margin: -1rem 0 0 -1rem;    
    background: transparent url("../images/preloader.gif") no-repeat center center;
}

div.messages {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0.3125rem solid;
    border-radius: 0;
    margin: 0 0 2rem 0;
    padding: 1rem;
}

div.status, 
.ok {
    color: #259f61;
    background-color: #effff7;
    background-image: none;
    border-color: #259f58;
}

div.error, 
.error {
    color: #cc2c2c;
    background-color: #ffefef;
    background-image: none;
    border-color: #cc2c2c;
}

div.messages p {
    margin: 0;
}

/*-------------------------------------------*
/* Colorbox
/*-------------------------------------------*/

#colorbox, 
#cboxOverlay, 
#cboxWrapper {
    position:absolute; 
    top:0; 
    left:0; 
    z-index:9999; 
    outline: none;
}

#cboxOverlay {
    position:fixed; 
    width:100%; 
    height:100%;
}

#cboxMiddleLeft, 
#cboxBottomLeft {
    clear:left;
}

#cboxContent {
    position:relative; 
    margin: 50px;
}

#cboxLoadedContent {
    overflow:auto;
}

#cboxLoadingOverlay, 
#cboxLoadingGraphic {
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%;
}

#cboxPrevious, 
#cboxNext, 
#cboxClose, 
#cboxSlideshow {
    cursor:pointer;
}

.cboxIframe {
    width:100%; 
    height:100%; 
    display:block;     
    border:0;
}

#colorbox, 
#cboxContent, 
#cboxLoadedContent {
    box-sizing:content-box;
}

#cboxOverlay {
    background:#000;
}

#cboxContent {
    overflow:visible;
}

#cboxError {
    padding:50px;
}

#cboxCurrent {
    position:absolute; 
    top:-22px; 
    right:205px; 
    text-indent:-9999px;
}

#cboxSlideshow, 
#cboxPrevious, 
#cboxNext, 
#cboxClose {
    text-indent:-9999px; 
    position:absolute;
}

.cboxPhoto {
   float:left; 
   margin: auto;
   display:block;
   background:#fff;
}

#cboxLoadedContent  {
   background: #fff;
}

#cboxLoadingGraphic {
    background: #fff url("../images/preloader.gif") no-repeat center center;
}

#cboxTitle {
   color:#fff; 
   width: 100%; 
   text-align: center;
   padding: 0.5rem 0 0 0;
}

#cboxPrevious,
#cboxNext {
    width: 2.5rem; 
    height: 2.5rem; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    top: 50%; 
    margin-top: -20px;
    z-index: 10000;
}

#cboxPrevious {
    background-image: url("../images/prev.svg"); 
    left: -55px; 
}

#cboxNext {
    background-image: url("../images/next.svg");
    right: -55px; 
}

#cboxClose {
    width: 20px; 
    height: 20px; 
    background-image: url("../images/close.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    right: -2rem; 
    top: -2rem; 
    z-index: 10000;
}

/*-------------------------------------------*
/* Other styles
/*-------------------------------------------*/

.bue-ui img {
    display: inline-block;
    width: auto;
}





