/*-------------------------------------------*
/* < 1200
/*-------------------------------------------*/

@media all and (max-width: 1199px) {

#block-system-main-menu,
#header .social-icon,
.main-menu a:after {
	display: none;
}

.main-menu {
    flex-direction: column;
}

.main-menu .menu-item {
    margin: 0;
}

.main-menu a {
    display: block; 
    margin: 0;
	padding: 10px 0;  
	font-size: 22px;
	color: #fff;
}

.main-menu a.active, 
.main-menu a.active-trail {
    color: #fff;
    opacity: 0.7;
}

}

/*-------------------------------------------*
/* < 992
/*-------------------------------------------*/

@media all and (max-width: 991px) {	

#footer {
    padding: 15px 0;
}

#site-logo {
	width: 150px;
}

#slider,
#highlighted,
.not-front #main {
    margin: 0 0 30px 0;
}

h1 {
    font-size: 1.75rem;
}

h2,
h3,
h4,
.block-title {
    font-size: 1.5rem;
}

#video .node {
    font-size: 1rem;
}

.product-card__image, 
.product-card__text,
#footer .block {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: none;
}

.product-card__text {
	padding: 30px 0 0 0;
}

.store__name,
.catalog-item__title_large {
    font-size: 1rem;
}

.field-name-field-page-img {
    width: 100%;
    float: none;
	margin: 0 0 30px 0;
}

.region-popup {
    max-width: 100%;
}

#block-views-exp-search-page .content {
    width: 100%;
    padding: 15px ;
}

#search-close-icon {
    right: 15px;
}

.mobile-p {
    display: block;
    margin: 0 0 30px 0;
}

}
