/*-------------------------------------------*
/* Stores
/*-------------------------------------------*/

.store__working-hours,
.store__address,
.store__phone {
	margin: 0 0 15px 0;
}

.store__map {
	display: inline-block;
}

.store__info p {
    margin: 0;
}

.store ul {
	margin: 0;
	padding: 0;
}

.store ul li {
	margin: 0 0 5px 0;
	padding: 0;
	list-style: none;
}

/*-------------------------------------------*
/* Catalog
/*-------------------------------------------*/

.catalog-item {    
	text-align: center;
}

.catalog-item__title {    	
	font-weight: 500;
	margin: 10px 0 0 0;
	text-transform: lowercase;	
}

.catalog-item__title_large {    	
	font-size: 1.25rem;
}

.catalog-item__title_small {    	
	font-size: 1rem;
}

.catalog-item__title:first-letter {    
	text-transform: capitalize;	
}

.catalog-item__price {  
	display: inline-block;  
	margin: 5px 0 0 0;	
}

.catalog-item__price-label {  
	font-weight: 400;
	color: #a8a8a8;
}

.catalog-item__price-value {
	font-weight: 500;
}

.catalog-item__price-currency {
	font-weight: 500;
}

.catalog-item__old-price {
	display: inline-block;
	margin: 5px 0 0 0;
	text-decoration: line-through;
	color: #a8a8a8;
}

.catalog-item__discount {
	display: none;
}

.category-description {
	line-height: 1.5;
}

.category-description ul {
    list-style: disc;
    margin: 0 0 30px 30px;
}

.category-description ol {
    margin: 0 0 30px 30px;
}

/*-------------------------------------------*
/* Product card
/*-------------------------------------------*/

.product-card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-card__image,
.product-card__text {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; 
    max-width: 50%;	
}

.product-card__text {
	padding: 0 0 0 30px;
}

.product-card__title { 
	margin: 0 0 30px 0;
}

.product-card__availability {
	margin: 0 0 15px 0;
}

.product-card__description {
	margin: 30px 0 0 0;
	line-height: 1.5;
}

.product-card__price {
	display: inline-block;
	font-size: 1.875rem;
	font-weight: 700;
}

.product-card__old-price {
	display: inline-block;
	margin: 0 0 0 5px;
	text-decoration: line-through;    
    font-size: 1.875rem;
    color: #a8a8a8;
}

.product-card__discount {
	display: none;
}

.product-card__actions {
	margin: 30px 0 0 0;
}

.product-card__additional-images {
	margin: 0 -15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-card__additional-images > a {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
	max-width: 20%;
	padding: 30px 15px 0 15px;
}

.product-card__stores {
	margin: 30px 0 0 0;
}

.product-card__stores .store {
    margin: 0 0 15px 0;
}

.product-card__stores .store__working-hours,
.product-card__stores .store__address,
.product-card__stores .store__phone {
	margin: 0 0 5px 0;
}

/*-------------------------------------------*
/* Search
/*-------------------------------------------*/

.search-icon {
	display: inline-block;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    -webkit-tap-highlight-color: transparent;
	background-image: url("../images/search.svg");
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
	cursor: pointer;
}

#search-close-icon {
	display: block;
	position: absolute;
	top: -45px;
    right: -45px;
	width: 30px;
	height: 30px;
	-webkit-tap-highlight-color: transparent;
}

#search-close-icon span {
	background-color: #fff;
	width: 30px;
	height: 2px;
	position: absolute;
	left: 0; 
	top: 50%;
}

#search-close-icon span:nth-child(1) {
    transform: rotate(-45deg);
}

#search-close-icon span:nth-child(2) { 
    transform: rotate(45deg);
}

#block-views-exp-search-page  {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0.7); 
}

#block-views-exp-search-page .content {
	position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
	padding: 30px;
	background-color: #3d3d3d;
	transform: translate3d(-50%, -50%, 0);
}

#views-exposed-form-search-page .views-exposed-widgets {
    display: -ms-flexbox;
    display: flex;
}

#views-exposed-form-search-page .form-item, 
#views-exposed-form-search-page .form-actions {
    margin-top: 0;
    margin-bottom: 0;
}

#views-exposed-form-search-page .views-widget-filter-keys {
    -ms-flex: 1 1 auto;
	flex: 1 1 auto;	
}

#views-exposed-form-search-page .form-text {
	border: none;
}

#views-exposed-form-search-page .form-submit {
	text-indent: -9999px;
	display: block;
	margin: 0;
	padding: 7px 0;
	width: 36px;
	background-color: #fff;
	background-image: url("../images/search.svg");
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.view-empty {
	text-align: center;
}

/*-------------------------------------------*
/* Catalog List
/*-------------------------------------------*/

.catalog-list {  
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-list-item {   
	display: block; 
	margin: 0 0 15px 0;	
	font-weight: 500;
}

/*-------------------------------------------*
/* Breadcrumbs
/*-------------------------------------------*/

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.875rem;
    color: #a8a8a8;
}

.breadcrumb__item {
	display: block;	
}

.breadcrumb__item:first-letter {    
	text-transform: capitalize;	
}

.breadcrumb__separator {
	display: block;	
	padding: 0 0.5rem;
}

/*-------------------------------------------*
/* Comments
/*-------------------------------------------*/

.comment-form-wrapper {
	padding: 30px;
	background-color:#ededed;
}

.comment {
	margin: 0 0 30px 0;
	padding: 30px;
	border: 1px solid #a8a8a8;
}

.comment__name {
	margin: 0 0 5px 0;
	font-weight: 500;
	color: #3d3d3d;
}

.comment__date {
	margin: 0 0 15px 0;
	font-size: 0.875rem;
    color: #a8a8a8;
}

.comment__text {
	font-style: italic;
}

.comment a {
	display: inline-block;
	margin: 15px 15px 0 0;
}

/*-------------------------------------------*
/* FAQ
/*-------------------------------------------*/

.faq {
	margin: 0 0 30px 0;
	padding: 30px;
	border: 1px solid #a8a8a8;
}

.faq__answer {
	line-height: 1.5;
}






