/*-------------------------------------------*
/* Stores
/*-------------------------------------------*/

.store {    
	text-align: center;
}

.store__name {
	font-weight: 500;
}


.store__info {
	line-height: 1.5;
}

.store__info p {
    margin: 0;
}

/*-------------------------------------------*
/* Catalog
/*-------------------------------------------*/

.catalog-item {    
	text-align: center;
}

.catalog-item__title {    	
	font-size: 1.25rem;
	font-weight: 500;
	margin: 10px 0 0 0;
	text-transform: lowercase;	
}

.catalog-item__title a {    
	color: #3d3d3d;
}

.catalog-item__title:first-letter {    
	text-transform: capitalize;	
}

.catalog-item__price {    
	margin: 5px 0 0 0;	
	font-weight: 500;
}

.catalog-item__old-price {
	margin: 5px 0 0 0;
	text-decoration: line-through;
	color: #a8a8a8;
}

.view-term-descr {
	line-height: 1.5;
}

/*-------------------------------------------*
/* Search
/*-------------------------------------------*/

#search-icon {
	display: inline-block;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    -webkit-tap-highlight-color: transparent;
	background-image: url("../images/search.svg");
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
	cursor: pointer;
}

#search-close-icon {
	position: absolute;
	width: 20px;
    height: 20px;
	top: -30px;
	right: -30px;
    border: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
	background-image: url("../images/close-white.svg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
	cursor: pointer;
}

#block-views-exp-search-page {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s linear;
    display: -ms-flexbox;
    display: flex;
	-ms-flex-pack: center;
    justify-content: center;
	-ms-flex-align: center;
    align-items: center;
	position: fixed;
	top: 0;
	right: 0;
    bottom: 0;
	left: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.7)
}

#block-views-exp-search-page.active {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.2s linear;
}

#block-views-exp-search-page .content {
    width: 500px;
	padding: 30px;
	background-color: #3d3d3d;
	position: relative;	
}

#views-exposed-form-search-page .views-exposed-widgets {
    display: -ms-flexbox;
    display: flex;
}

#views-exposed-form-search-page .form-item, 
#views-exposed-form-search-page .form-actions {
    margin-top: 0;
    margin-bottom: 0;
}

#views-exposed-form-search-page .views-widget-filter-keys {
    -ms-flex: 1 1 auto;
	flex: 1 1 auto;	
}

#views-exposed-form-search-page .form-text {
	border: none;
}

#views-exposed-form-search-page .form-submit {
	text-indent: -9999px;
	display: block;
	padding: 7px 0;
	width: 36px;
	background-color: #fff;
	background-image: url("../images/search.svg");
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.view-empty {
	text-align: center;
}









